<!-- utilisateurs-liste.html -->

{% extends "../base.html" %}

{% load static %}
{% block title %}
  Emprunts
{% endblock title %}


{% block page_title %}
  Gestion des emprunts
{% endblock page_title %}


{% block content %}

<div class="container d-flex justify-content-center mt-5">
    
    {{message}}
    <div class="col-md-6 col-lg-5">
        <a href="{% url 'emprunts-utilisateur' id=utilisateur.id %}" > <span class="bi bi-x-lg button2"></span></a>
        <form action="" method="post" class="p-4 border rounded shadow-sm bg-light ">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="button1 w-100" type="submit">
                Enregistrer
            </button>
        </form>

    </div>

</div>




{% endblock content %}